.button-container {
  width: 10rem;
}

.back-button:hover {
  margin-left: 0;
  margin-right: 0.5rem;
}

.title-buttons-container {
  background-color: rgba(255, 255, 255, 0.427);
  backdrop-filter: blur(3px);
  padding: 2rem;
  min-width: 40rem;
}

.title-buttons-container-dark {
  background-color: rgba(117, 117, 117, 0.427);
  backdrop-filter: blur(3px);
  padding: 2rem;
  min-width: 40rem;
}

.dashboard-profile-container {
  background-color: rgba(255, 255, 255, 0.427);
  backdrop-filter: blur(5px);
  min-width: 40rem;
}



.menu-container {
  margin-top: 3rem;
}

.main-component-container {}


.navbar-icon {
  transition: all 0.2s ease;
}

.navbar-icon:hover {
  transform: scale(1.2);
}