.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-left: 150px;
  
}

.name{
  font-size: 2rem;
  font-weight: bold;
}