.container {
  padding: 1.3vw;
  font-size: 1rem;
}

.canvasContainer {
  z-index: -1;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0rem;
  animation: fadeInAnimation 3s ease
}

.CLIFeed {
  max-height: 40vh;
  overflow-y: auto;
  z-index: 1;
  background-color: transparent;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.CLIFeed::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.CLIFeed {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* .container:hover {
  background-color: red;
} */

.terminalArrow {
  margin-right: 0.2em;
  animation: fadeInAnimation ease 4s;
  /* animation-delay: 2s; */
}

.input {
  padding-top: 0.7em;
  animation: fadeInAnimation linear 4s;
  background-color: transparent;
  /* outline: solid 1px rgb(107, 107, 107); */
  /* animation-iteration-count: 1; */
  /* animation-fill-mode: forwards; */
}

.input::placeholder {
  text-align: left;
}

.input:focus {
  outline: none;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}

.testButton {
  background-color: red;
  width: 200px
}