.container {
  padding: 1.3vw;
  font-size: 1.1rem;
}

/* .container:hover {
  background-color: red;
} */

.terminalArrow {
  display: inline;
  margin-right: 0.2em;
  animation: fadeInAnimation ease 4s;
  /* animation-delay: 2s; */
}

.input {
  padding-top: 0.5em;
  animation: fadeInAnimation linear 4s;
  /* animation-iteration-count: 1; */
  /* animation-fill-mode: forwards; */
}

.input:focus {
  outline: none;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}