.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
  justify-content: center;
  /* min-height: 100vh; */
  height: 96vh;
  max-width: 100vw;
}

.carousel-title {
  margin-top: 400px;
}

.carousel-image {
  width: 300px;
  height: 300px;
  justify-self: center;
}