.container {
  padding: 2rem;
  gap: 20px;
  min-height: 100vh;
  /* justify-content: space-between; */
}

.question-container {
  align-self: center;
  margin-top: 20px;
  max-width: 60rem;
  min-width: 60rem;
  gap: 1rem;
  padding: 1.5rem;
  height: fit-content;
}

.h1 {
  font-size: 1.5rem;
}

.input-description-container {
  gap: 1.5rem;
  min-height: 13rem;
  height: fit-content;
  justify-content: space-between;
}

/* .h1 { */
/* font-size: 2rem; */
/* } */

.title-container {
  gap: 1rem;
  min-height: 4rem;

}

.options-container {
  gap: 1rem;
  align-items: flex-start;
  width: 50%;
}

.button-style {
  font-size: 1.2rem;
  border: solid 2px rgba(255, 255, 255, 0);
  padding: 0.25rem 0.75rem;
  padding-left: 0;
  width: fit-content;
  text-align: left;
  transition: all 0.3s ease;
}

.button-style:hover {
  
  padding-left: 0.5rem;
  border: solid 2px black;
}

.button-style-dark-mode {
  font-size: 1.2rem;
  border: solid 2px rgba(255, 255, 255, 0);
  /* border: solid 2px white; */
  padding: 0.25rem 0.75rem;
  padding-left: 0;
  width: fit-content;
  text-align: left;
  transition: all 0.3s ease;

}


.button-style-dark-mode:hover {
  padding-left: 0.5rem;
  border: solid 2px white;
}

.description-container {
  padding: 1rem;
  width: 40%;
  height: 80%;
  text-align: center;
  box-shadow: 0px 0px 1px rgb(0, 0, 0);
}

.description-container-dark-mode {
  padding: 1rem;
  width: 40%;
  height: 80%;
  text-align: center;
  box-shadow: 0px 0px 1px white;

}

.info-tag {
  font-size: 1rem;
}

.navigation-btns {

  
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40rem;
    left: 70rem;
    
  
  

}