.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem 0.3rem 1rem;
  border-bottom: 1px black solid;

  /* background-color: red; */
}

.name {
  align-self: center;
}

