.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 20px;
  
}

.questionContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 20px;
  gap: 1rem;
  width: 60rem;
  padding: 1.5rem;

}

.title {
  font-size: 1.5rem;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;



}

.btn {
  width: 10rem;
  height: 1.8rem;
  text-align: left;
  border-style: none;
  
}

.btn:focus {
  border: solid 0.1rem black;
  padding-left: 0.5rem;

}

.btn:hover {
  
  padding-left: 0.5rem;

}





.underline {
  animation: blink 1s step-end infinite;

}


@keyframes blink{
  0%{opacity: 1.0;}
  50%{opacity: 0.0;}
  100%{opacity: 1.0;}
  }

