.quiz-nav-buttons-container {
  justify-content: center;
  gap: 1rem;
  min-width: 10rem;
}

.quiz-nav-button-container {
  width: 4rem;
  justify-content: center;
  /* width: auto; */
}

.quiz-nav-buttons {
  width: fit-content;
}

.quiz-back-button:hover {
  margin-left: 0rem;
  margin-right: 0.5rem;
}

.outline {
  outline: solid 1px;
}