.quiz-nav-buttons-container {
  width: 78vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  position: absolute;
  top: 48vh;
  background-color: green;
  /* bottom: 4vh; */
}

.quiz-nav-button-container {
  width: 4rem;
  justify-content: center;
  /* width: auto; */
}

.quiz-nav-buttons {
  width: fit-content;
  font-size: 1.6rem;
}

.quiz-back-button:hover {
  margin-left: 0rem;
  margin-right: 0.5rem;
}

.outline {
  outline: solid 1px;
}

